body {background-image:url(downfon.jpg);}
table {border-spacing: 13px;}
td {background-color: deeppink; color: black; height: 120px; width: 200px; text-align: center; }
p {text-align: center; color: red;}